In [1]:
%pwd

'/home/jingw222/myDirPy/MLPractices/Instacart'

In [2]:
%matplotlib inline
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
pd.options.display.max_rows=200

In [4]:
dtype = {'order_id': np.int32, 'product_id': np.uint16, 'add_to_cart_order': np.uint8, 'reordered': np.int8,
        'user_id': np.int32, 'eval_set': np.int8, 'order_number': np.int8, 'order_dow': np.int8, 
         'order_hour_of_day': np.int8, 'days_since_prior_order': np.float32}

In [5]:
ord_pri_test = pd.read_csv('./data/stats/ord_pri_test.csv', dtype=dtype)

products = pd.read_csv('./data/stats/products.csv', index_col='product_id')

orders_test_eval1 = pd.read_csv('./data/stats/orders_test_eval1.csv')

orders_test = pd.read_csv('./data/stats/orders_test.csv', dtype=dtype)

In [9]:
ord_pri_test

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,cumsum_days_since_prior_order
4741003,1374495,9387,1,0,3,1,1,3,0.0
4741004,1374495,17668,2,0,3,1,1,3,0.0
4741005,1374495,15143,3,0,3,1,1,3,0.0
4741006,1374495,16797,4,0,3,1,1,3,0.0
4741007,1374495,39190,5,0,3,1,1,3,0.0
4741008,1374495,47766,6,0,3,1,1,3,0.0
4741009,1374495,21903,7,0,3,1,1,3,0.0
4741010,1374495,39922,8,0,3,1,1,3,0.0
4741011,1374495,24810,9,0,3,1,1,3,0.0
4741012,1374495,32402,10,0,3,1,1,3,0.0
1530716,444309,38596,1,0,3,2,3,3,9.0
1530717,444309,21903,2,1,3,2,3,3,9.0
1530718,444309,248,3,0,3,2,3,3,9.0
1530719,444309,40604,4,0,3,2,3,3,9.0
1530720,444309,8021,5,0,3,2,3,3,9.0
1530721,444309,17668,6,1,3,2,3,3,9.0
1530722,444309,21137,7,0,3,2,3,3,9.0
1530723,444309,23650,8,0,3,2,3,3,9.0
1530724,444309,32402,9,1,3,2,3,3,9.0
10351231,3002854,39190,1,1,3,3,3,3,30.0
10351232,3002854,47766,2,1,3,3,3,3,30.0
10351233,3002854,21903,3,1,3,3,3,3,30.0
10351234,3002854,49683,4,0,3,3,3,3,30.0
10351235,3002854,28373,5,0,3,3,3,3,30.0
10351236,3002854,7503,6,0,3,3,3,3,30.0
7019990,2037211,1819,1,0,3,4,2,3,50.0
7019991,2037211,12845,2,0,3,4,2,3,50.0
7019992,2037211,9387,3,1,3,4,2,3,50.0
7019993,2037211,16965,4,0,3,4,2,3,50.0
7019994,2037211,24010,5,0,3,4,2,3,50.0
9342337,2710558,39190,1,1,3,5,0,3,62.0
9342338,2710558,9387,2,1,3,5,0,3,62.0
9342339,2710558,17668,3,1,3,5,0,3,62.0
9342340,2710558,47766,4,1,3,5,0,3,62.0
9342341,2710558,16965,5,1,3,5,0,3,62.0
9342342,2710558,28373,6,1,3,5,0,3,62.0
9342343,2710558,21903,7,1,3,5,0,3,62.0
9342344,2710558,22035,8,0,3,5,0,3,62.0
9342345,2710558,42265,9,0,3,5,0,3,62.0
9342346,2710558,18370,10,0,3,5,0,3,62.0
9342347,2710558,44683,11,0,3,5,0,3,62.0
6798556,1972919,22035,1,1,3,6,0,3,69.0
6798557,1972919,39190,2,1,3,6,0,3,69.0
6798558,1972919,9387,3,1,3,6,0,3,69.0
6798559,1972919,47766,4,1,3,6,0,3,69.0
6798560,1972919,1819,5,1,3,6,0,3,69.0
6798561,1972919,24810,6,1,3,6,0,3,69.0
6798562,1972919,14992,7,0,3,6,0,3,69.0
6798563,1972919,44683,8,1,3,6,0,3,69.0
6341432,1839752,39190,1,1,3,7,0,3,76.0
6341433,1839752,1819,2,1,3,7,0,3,76.0
6341434,1839752,21903,3,1,3,7,0,3,76.0
6341435,1839752,43961,4,0,3,7,0,3,76.0
6341436,1839752,16797,5,1,3,7,0,3,76.0
6341437,1839752,24010,6,1,3,7,0,3,76.0
6341438,1839752,14992,7,1,3,7,0,3,76.0
6341439,1839752,18599,8,0,3,7,0,3,76.0
6341440,1839752,9387,9,1,3,7,0,3,76.0
11118895,3225766,39190,1,1,3,8,0,3,83.0
11118896,3225766,22035,2,1,3,8,0,3,83.0
11118897,3225766,43961,3,1,3,8,0,3,83.0
11118898,3225766,18599,4,1,3,8,0,3,83.0
11118899,3225766,21903,5,1,3,8,0,3,83.0
11118900,3225766,47766,6,1,3,8,0,3,83.0
11118901,3225766,42557,7,0,3,8,0,3,83.0
11118902,3225766,48523,8,0,3,8,0,3,83.0
10894215,3160850,39190,1,1,3,9,0,3,90.0
10894216,3160850,47766,2,1,3,9,0,3,90.0
10894217,3160850,16797,3,1,3,9,0,3,90.0
10894218,3160850,43961,4,1,3,9,0,3,90.0
10894219,3160850,48523,5,1,3,9,0,3,90.0
2334952,676467,18599,1,1,3,10,3,3,107.0
2334953,676467,17668,2,1,3,10,3,3,107.0
2334954,676467,47766,3,1,3,10,3,3,107.0
2334955,676467,39190,4,1,3,10,3,3,107.0
2334956,676467,1005,5,0,3,10,3,3,107.0
2334957,676467,32402,6,1,3,10,3,3,107.0
1795892,521107,39190,1,1,3,11,0,3,118.0
1795893,521107,47766,2,1,3,11,0,3,118.0
1795894,521107,21903,3,1,3,11,0,3,118.0
1795895,521107,43961,4,1,3,11,0,3,118.0
1795896,521107,17668,5,1,3,11,0,3,118.0
4839077,1402502,39190,1,1,3,12,1,3,133.0
4839078,1402502,18599,2,1,3,12,1,3,133.0
4839079,1402502,23650,3,1,3,12,1,3,133.0
4839080,1402502,21903,4,1,3,12,1,3,133.0
4839081,1402502,47766,5,1,3,12,1,3,133.0
4839082,1402502,24810,6,1,3,12,1,3,133.0
11523778,3343014,36606,1,0,4,1,6,1,0.0
11523779,3343014,7350,2,0,4,1,6,1,0.0
11523780,3343014,35469,3,0,4,1,6,1,0.0
11523781,3343014,2707,4,0,4,1,6,1,0.0
6996150,2030307,42329,1,0,4,2,4,1,19.0
6996151,2030307,7160,2,0,4,2,4,1,19.0
2384110,691089,1200,1,0,4,3,4,3,40.0
2384111,691089,17769,2,0,4,3,4,3,40.0
2384112,691089,43704,3,0,4,3,4,3,40.0
2384113,691089,37646,4,0,4,3,4,3,40.0
2384114,691089,11865,5,0,4,3,4,3,40.0
2384115,691089,35469,6,1,4,3,4,3,40.0
...,...,...,...,...,...,...,...,...,...
9219988,2675140,48865,7,0,206208,42,1,3,315.0
9219989,2675140,18770,8,1,206208,42,1,3,315.0
9219990,2675140,14332,9,0,206208,42,1,3,315.0
582204,167903,48017,1,0,206208,43,4,3,318.0
582205,167903,47008,2,0,206208,43,4,3,318.0
582206,167903,6238,3,0,206208,43,4,3,318.0
582207,167903,34213,4,1,206208,43,4,3,318.0
582208,167903,44750,5,0,206208,43,4,3,318.0
582209,167903,16616,6,0,206208,43,4,3,318.0
582210,167903,21403,7,0,206208,43,4,3,318.0
582211,167903,14778,8,1,206208,43,4,3,318.0
582212,167903,5020,9,0,206208,43,4,3,318.0
582213,167903,35688,10,1,206208,43,4,3,318.0
582214,167903,44532,11,0,206208,43,4,3,318.0
582215,167903,12791,12,0,206208,43,4,3,318.0
582216,167903,24838,13,1,206208,43,4,3,318.0
582217,167903,31404,14,1,206208,43,4,3,318.0
8247768,2393201,14197,1,0,206208,44,6,3,320.0
8247769,2393201,43961,2,1,206208,44,6,3,320.0
8247770,2393201,44419,3,0,206208,44,6,3,320.0
8247771,2393201,24964,4,1,206208,44,6,3,320.0
8247772,2393201,39812,5,1,206208,44,6,3,320.0
8247773,2393201,38015,6,0,206208,44,6,3,320.0
8247774,2393201,28745,7,1,206208,44,6,3,320.0
8247775,2393201,21137,8,1,206208,44,6,3,320.0
8247776,2393201,17355,9,0,206208,44,6,3,320.0
8247777,2393201,37208,10,1,206208,44,6,3,320.0
11349461,3292671,34213,1,1,206208,45,2,1,323.0
11349462,3292671,27845,2,1,206208,45,2,1,323.0
11349463,3292671,18770,3,1,206208,45,2,1,323.0
11349464,3292671,33000,4,1,206208,45,2,1,323.0
11349465,3292671,31404,5,1,206208,45,2,1,323.0
11349466,3292671,13176,6,1,206208,45,2,1,323.0
11349467,3292671,31717,7,1,206208,45,2,1,323.0
11349468,3292671,6297,8,1,206208,45,2,1,323.0
11349469,3292671,21137,9,1,206208,45,2,1,323.0
11349470,3292671,27744,10,1,206208,45,2,1,323.0
11349471,3292671,43961,11,1,206208,45,2,1,323.0
11349472,3292671,44910,12,1,206208,45,2,1,323.0
11349473,3292671,6238,13,1,206208,45,2,1,323.0
11349474,3292671,22365,14,1,206208,45,2,1,323.0
11349475,3292671,11599,15,1,206208,45,2,1,323.0
11349476,3292671,7952,16,1,206208,45,2,1,323.0
11349477,3292671,18880,17,0,206208,45,2,1,323.0
11349478,3292671,27156,18,1,206208,45,2,1,323.0
10546732,3059777,21137,1,1,206208,46,1,1,336.0
10546733,3059777,33000,2,1,206208,46,1,1,336.0
10546734,3059777,37208,3,1,206208,46,1,1,336.0
10546735,3059777,35688,4,1,206208,46,1,1,336.0
10546736,3059777,46069,5,1,206208,46,1,1,336.0
10546737,3059777,47626,6,1,206208,46,1,1,336.0
10546738,3059777,1463,7,1,206208,46,1,1,336.0
7719164,2239861,34213,1,1,206208,47,3,4,345.0
7719165,2239861,21137,2,1,206208,47,3,4,345.0
7719166,2239861,13176,3,1,206208,47,3,4,345.0
7719167,2239861,27845,4,1,206208,47,3,4,345.0
7719168,2239861,14467,5,1,206208,47,3,4,345.0
7719169,2239861,31404,6,1,206208,47,3,4,345.0
7719170,2239861,31717,7,1,206208,47,3,4,345.0
7719171,2239861,20995,8,1,206208,47,3,4,345.0
7719172,2239861,24838,9,1,206208,47,3,4,345.0
7719173,2239861,14778,10,1,206208,47,3,4,345.0
7719174,2239861,23579,11,1,206208,47,3,4,345.0
7719175,2239861,27744,12,1,206208,47,3,4,345.0
7719176,2239861,23644,13,1,206208,47,3,4,345.0
7719177,2239861,24964,14,1,206208,47,3,4,345.0
7719178,2239861,43961,15,1,206208,47,3,4,345.0
7719179,2239861,25659,16,1,206208,47,3,4,345.0
7719180,2239861,47626,17,1,206208,47,3,4,345.0
7719181,2239861,45007,18,1,206208,47,3,4,345.0
7719182,2239861,41238,19,1,206208,47,3,4,345.0
7719183,2239861,5020,20,1,206208,47,3,4,345.0
7719184,2239861,44419,21,1,206208,47,3,4,345.0
7719185,2239861,22935,22,1,206208,47,3,4,345.0
7719186,2239861,14197,23,1,206208,47,3,4,345.0
4431210,1285346,34213,1,1,206208,48,1,1,350.0
4431211,1285346,21137,2,1,206208,48,1,1,350.0
4431212,1285346,13176,3,1,206208,48,1,1,350.0
4431213,1285346,47626,4,1,206208,48,1,1,350.0
4431214,1285346,35688,5,1,206208,48,1,1,350.0
4431215,1285346,35939,6,1,206208,48,1,1,350.0
4431216,1285346,43086,7,1,206208,48,1,1,350.0
4431217,1285346,34282,8,0,206208,48,1,1,350.0
6484849,1882108,13176,1,1,206208,49,1,2,357.0
6484850,1882108,34213,2,1,206208,49,1,2,357.0
6484851,1882108,23579,3,1,206208,49,1,2,357.0
6484852,1882108,33000,4,1,206208,49,1,2,357.0
6484853,1882108,31404,5,1,206208,49,1,2,357.0
6484854,1882108,35688,6,1,206208,49,1,2,357.0
6484855,1882108,23644,7,1,206208,49,1,2,357.0
6484856,1882108,43961,8,1,206208,49,1,2,357.0
6484857,1882108,45007,9,1,206208,49,1,2,357.0
6484858,1882108,44419,10,1,206208,49,1,2,357.0
6484859,1882108,44910,11,1,206208,49,1,2,357.0
6484860,1882108,6297,12,1,206208,49,1,2,357.0
6484861,1882108,2643,13,1,206208,49,1,2,357.0
6484862,1882108,21405,14,0,206208,49,1,2,357.0
6484863,1882108,7632,15,0,206208,49,1,2,357.0
6484864,1882108,1942,16,0,206208,49,1,2,357.0
6484865,1882108,10385,17,1,206208,49,1,2,357.0

In [8]:
ord_pri_test.sort_values(['user_id', 'order_number', 'add_to_cart_order'], inplace=True)

In [10]:
pred_prior_days = orders_test.loc[orders_test['eval_set']==1, ['user_id', 'days_since_prior_order']].set_index('user_id')

In [11]:
grouped = ord_pri_test.groupby(['user_id', 'product_id'])
grouped_ = ord_pri_test.groupby(['user_id'])

In [12]:
tot_prod_count_by_user = grouped_['product_id'].count().rename('tot_prod_count_by_user')
prod_count_by_user = grouped['product_id'].count().rename('prod_count_by_user')
prod_pct_by_user = (prod_count_by_user / tot_prod_count_by_user).rename('prod_pct_by_user').astype(np.float32).round(3)

cart_order_by_user = grouped['add_to_cart_order'].mean().rename('cart_order_by_user').astype(np.float32).round(3)

In [13]:
last_order_num_user = grouped_['order_number'].max().rename('last_order_num_user')
last_order_num_prod = grouped['order_number'].max().rename('last_order_num_prod')

last_order_num_by_prod_user = (pd.merge(last_order_num_prod.reset_index(), last_order_num_user.reset_index(), on='user_id')
                               .set_index(['user_id', 'product_id']))

In [14]:
isin_last_order = grouped.apply(lambda g: int(last_order_num_user[g.name[0]] in set(g['order_number']))).rename('isin_last_order')
isin_sed_last_order = grouped.apply(lambda g: int(last_order_num_user[g.name[0]]-1 in set(g['order_number']))).rename('isin_sed_last_order')
isin_thd_last_order = grouped.apply(lambda g: int(last_order_num_user[g.name[0]]-2 in set(g['order_number']))).rename('isin_thd_last_order')
isin_fth_last_order = grouped.apply(lambda g: int(last_order_num_user[g.name[0]]-3 in set(g['order_number']))).rename('isin_fth_last_order')

In [15]:
buy_hour_by_prod = grouped['order_hour_of_day'].apply(lambda g: g.mode().iloc[0]).rename('buy_hour_by_prod')
buy_dow_by_prod = grouped['order_dow'].apply(lambda g: g.mode().iloc[0]).rename('buy_dow_by_prod')

In [18]:
orders_test_eval1

         order_id  pred_order_dow  pred_order_hour_of_day
user_id
3         2774568               5                       3
4          329954               3                       3
6         1528013               3                       3
11        1376945               6                       1
12        1356845               1                       2
15        2161313               1                       1
16        1416320               0                       3
19        1735923               6                       3
20        1980631               1                       1
22         139655               5                       1
25        1411408               0                       3
26        2940603               5                       3
28        1192143               1                       3
31         280888               4                       1
32        3202221               1                       3
33        3222866               6                       3
35         707453               4                       3
36        1320132               0                       1
39         882556               6                       3
40        2431024               0                       1
45        2827745               5                       1
51        2174416               0                       3
54        1325316               2                       2
57         320326               0                       1
58        2128599               4                       3
60        1099519               4                       2
61         144494               4                       1
68        3024191               2                       3
69        2817181               2                       1
73        2883656               6                       3
75        1970262               3                       1
77        2681168               0                       3
85        1345233               0                       3
92        2412507               5                       1
94         622677               6                       3
98         139487               6                       3
100       3302990               5                       3
101       1189294               5                       3
107       1368861               1                       3
122       1626588               6                       3
126         36863               0                       1
127        969538               2                       3
129        688716               3                       3
133       1058680               4                       4
134        831748               1                       1
136       2710859               1                       3
137       1500625               6                       3
141        726111               3                       3
149       2567075               5                       3
151       1855063               6                       3
152       2588536               5                       3
153       1658650               0                       3
154         36740               4                       1
156       2675738               0                       1
158       3052059               0                       1
159       2943466               3                       3
162       3400496               5                       3
165       1920100               3                       3
166       2993890               3                       1
168       1172828               2                       3
170       2587424               4                       3
172       2760277               1                       1
177       2691733               0                       2
180       2769561               5                       1
181       2029462               2                       3
182       1817659               6                       3
186        470997               4                       3
188        569815               0                       1
190       2517930               0                       3
194       2378064               4                       3
196        169451               4                       3
200       2986791               1                       2
202       1239084               5                       3
207       3191854               1                       3
216       1132910               1                       1
221       2088686               1                       2
225       3358588               5                       1
227       1283403               6                       2
228       2098786               6                       3
232        795256               0                       1
233       2399184               5                       3
234        862070               6                       2
236        313331               3                       3
237       3241020               6                       1
241       1549872               0                       1
244       3348159               0                       3
246       1653971               5                       1
247       3161938               0                       3
248       2318705               0                       4
251       1882331               3                       3
254       1696774               0                       1
257       2686576               6                       3
263       3048274               0                       3
265       1141566               4                       3
266       3069370               5                       3
268       2527879               1                       1
269       2969880               6                       1
274       2726815               5                       3
275       1862801               0                       3
276        865014               3                       3
...           ...             ...                     ...
205931    1467069               1                       3
205932    2973898               5                       1
205933     734857               0                       2
205934    2344671               0                       3
205936     468410               6                       1
205937    3147909               3                       3
205939    2462872               0                       1
205940    2532425               3                       3
205941    2061675               6                       3
205943     985373               0                       1
205945    2893901               2                       3
205946    3028365               3                       1
205947    1834762               6                       3
205953    2768830               0                       3
205956     335186               6                       3
205957    1630485               0                       3
205959    2363962               4                       3
205960    2628429               5                       3
205969     369796               3                       3
205975    1217292               6                       1
205976    1692847               2                       1
205980    1047524               3                       3
205984    1432897               3                       3
205991     108886               0                       3
205992    2498703               5                       3
205995    2769683               4                       1
205996      51203               6                       3
205998    2303818               4                       1
205999     530713               4                       3
206000    1559030               6                       3
206002    3047627               5                       3
206003    1003264               1                       3
206008     119935               3                       3
206009    2400217               1                       1
206012    2614426               6                       1
206013    2684907               3                       3
206020      67072               5                       2
206022     750275               3                       1
206027    2989463               2                       3
206034     834907               4                       3
206041    2251602               3                       1
206044    1541199               6                       3
206045    2231318               0                       4
206046    1194391               6                       3
206047     804747               6                       1
206052     691398               2                       3
206055    1996690               3                       3
206060    3032264               1                       3
206064    1354120               5                       3
206066    1269878               4                       3
206067    1792141               6                       1
206068     843862               1                       3
206070    1908239               0                       3
206078     657211               6                       2
206079     867972               6                       1
206083    2546128               2                       1
206085    1731374               6                       3
206086       8608               4                       3
206088     914506               0                       1
206090    3261232               1                       1
206092    2621891               0                       1
206094     783264               0                       2
206096    3298863               0                       1
206103    3288037               6                       1
206105    2411828               0                       1
206109    2994962               5                       3
206112     586424               6                       3
206116      60340               2                       3
206117    3048887               6                       1
206120    3317783               0                       1
206122    1968103               6                       3
206127    3094655               3                       3
206131    2964171               1                       3
206135    1522572               1                       3
206138     544857               0                       1
206142    1421496               1                       1
206143     765758               4                       4
206147    1772796               5                       2
206152    3177219               0                       1
206160    2380361               5                       3
206161     928262               0                       3
206163    1722401               5                       2
206166    1945444               5                       3
206168    2000023               2                       3
206173    3151043               0                       3
206179    2900626               2                       3
206180    2633505               0                       3
206182    1836967               0                       1
206183    2799087               0                       3
206187    2762353               0                       4
206189     959487               2                       2
206192     701105               6                       3
206194      64567               4                       4
206197    1564541               0                       3
206201     309211               0                       3
206202    2728930               2                       3
206204     350108               4                       3
206206    1043943               0                       2
206207    2821651               2                       3
206208     803273               5                       1

[75000 rows x 3 columns]

In [17]:
orders_test_eval1 = orders_test_eval1.set_index('user_id').drop('order_number', axis=1)
orders_test_eval1.rename(columns = {'order_dow': 'pred_order_dow', 'order_hour_of_day': 'pred_order_hour_of_day'}, inplace=True)

In [19]:
buy_hour_by_prod = buy_hour_by_prod.to_frame().join(orders_test_eval1['pred_order_hour_of_day'])
buy_hour_by_prod['buy_hour_equal_pred_hour'] = (buy_hour_by_prod['buy_hour_by_prod'] == buy_hour_by_prod['pred_order_hour_of_day']) * 1

buy_dow_by_prod = buy_dow_by_prod.to_frame().join(orders_test_eval1['pred_order_dow'])
buy_dow_by_prod['buy_dow_equal_pred_dow'] = (buy_dow_by_prod['buy_dow_by_prod'] == buy_dow_by_prod['pred_order_dow']) * 1

In [20]:
avg_prior_days_by_prod = grouped['cumsum_days_since_prior_order'].apply(lambda g: (g.max()-g.min())/(g.size-1))
avg_prior_days_by_user = avg_prior_days_by_prod.mean(level=0)
avg_prior_days_by_prod = avg_prior_days_by_prod.combine_first(avg_prior_days_by_prod.add(avg_prior_days_by_user, level=0, fill_value=0)).rename('avg_prior_days_by_prod')

/home/jingw222/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in double_scalars
  """Entry point for launching an IPython kernel.

In [21]:
avg_prior_days_by_prod

user_id  product_id
3        248            28.179094
         1005           28.179094
         1819           13.000000
         7503           28.179094
         8021           28.179094
         9387           19.000000
         12845          28.179094
         14992           7.000000
         15143          28.179094
         16797          45.000000
         16965          12.000000
         17668          29.500000
         18370          28.179094
         18599          19.000000
         21137          28.179094
         21903          19.000000
         22035          10.500000
         23650         124.000000
         24010          26.000000
         24810          66.500000
         28373          32.000000
         32402          53.500000
         38596          28.179094
         39190          14.777778
         39922          28.179094
         40604          28.179094
         42265          28.179094
         42557          28.179094
         43961          14.000000
         44683           7.000000
         47766          16.625000
         48523           7.000000
         49683          28.179094
4        1200           40.000000
         2707           40.000000
         7160           40.000000
         7350           40.000000
         11865          40.000000
         17769          40.000000
         19057          40.000000
         21573          40.000000
         22199          40.000000
         25146          40.000000
         25623          40.000000
         26576          40.000000
         35469          40.000000
         36606          40.000000
         37646          40.000000
         42329          40.000000
         43704          40.000000
6        8424            6.000000
         10644           6.000000
         11068           6.000000
         20323           6.000000
         21903           6.000000
         25659           6.000000
         27521           6.000000
         38293           6.000000
         40992           6.000000
         45007           6.000000
         48679           6.000000
         49401           6.000000
11       95             29.675926
         2002           29.675926
         4799           29.675926
         5605           29.675926
         5989           29.675926
         8197           29.675926
         8230           29.675926
         8309           30.750000
         8670           22.000000
         10644          86.000000
         12384          29.675926
         13176          29.675926
         14947          27.000000
         15261          29.675926
         16869          26.000000
         17706          29.675926
         17794          29.675926
         18465          29.675926
         18987          29.675926
         19543          29.675926
         19769          29.675926
         20383           7.000000
         21040          29.675926
         22950          29.675926
         23400          29.675926
         24799          29.675926
         26209          29.675926
         27451          29.675926
         27959          27.750000
         28465          46.500000
         30480          29.675926
         30563          29.675926
         30855          29.675926
         33021          29.675926
         33037          29.675926
         33572          97.000000
         33731          14.000000
         34551          29.675926
                          ...
206208   26177          49.216264
         26209          49.216264
         26283          49.216264
         27156         148.000000
         27608          30.000000
         27690          33.571429
         27714          49.216264
         27744          36.333333
         27845          23.000000
         27966          21.285714
         28199          63.000000
         28741          49.216264
         28745          70.500000
         28934          49.216264
         28986          58.500000
         29079          49.216264
         29447         125.000000
         29474          49.216264
         30489          49.216264
         30995          10.500000
         31215          40.500000
         31287          49.216264
         31404          26.833333
         31471          49.216264
         31506         106.000000
         31717          27.111111
         31801          49.216264
         33000          17.850000
         33043          53.000000
         34126          63.000000
         34213           9.648649
         34282          49.216264
         34530          49.216264
         34608          49.216264
         34668          11.000000
         35217          49.216264
         35688          73.500000
         35939          55.750000
         36550          39.000000
         36651          49.216264
         36772          94.000000
         36929          49.216264
         37208          22.250000
         37220         102.000000
         37570          49.216264
         38015          49.216264
         38250          49.216264
         38419          44.500000
         39097          49.216264
         39475          27.363636
         39558          49.216264
         39578          25.500000
         39812         116.000000
         39966          49.216264
         40706          46.500000
         41055          49.216264
         41238          66.500000
         41540          49.216264
         41870          49.216264
         42110          49.216264
         42296          49.216264
         42356         117.500000
         42623           0.000000
         42768          56.000000
         42891          49.216264
         43086          31.818182
         43122          49.216264
         43129          49.216264
         43295          16.571429
         43643          22.000000
         43712          90.000000
         43961          30.833333
         43999          50.000000
         44098          49.216264
         44359         107.000000
         44419          18.500000
         44532          49.216264
         44750          49.216264
         44765          49.216264
         44910          59.500000
         45007          59.250000
         45264          49.216264
         45608          49.216264
         46069          54.666667
         46271          49.216264
         46667         146.000000
         46692          49.216264
         46847          79.000000
         46868          49.216264
         47008          49.216264
         47209          49.216264
         47626          62.250000
         47752          49.216264
         47766          49.216264
         48017          49.216264
         48364          49.216264
         48865          49.216264
         49247          49.216264
         49385          49.216264
         49621          49.216264
Name: avg_prior_days_by_prod, Length: 4833292, dtype: float64

In [22]:
last_cumsum_prior_days_by_user_prod = grouped['cumsum_days_since_prior_order'].max()
last_cumsum_prior_days_by_user = grouped_['cumsum_days_since_prior_order'].max()

days_since_last_buy_prod = (last_cumsum_prior_days_by_user - last_cumsum_prior_days_by_user_prod + pred_prior_days.squeeze()).rename('days_since_last_buy_prod')

diff_days_avg_since = (days_since_last_buy_prod - avg_prior_days_by_prod).round(2).rename('diff_days_avg_since')

In [23]:
last_order_num_by_prod_user['last_order_num_prod_diff1'] = last_order_num_by_prod_user['last_order_num_user'] - last_order_num_by_prod_user['last_order_num_prod']
last_order_num_by_prod_user['last_order_num_prod_diff2'] = (last_order_num_by_prod_user['last_order_num_prod'] / last_order_num_by_prod_user['last_order_num_user']).round(2)

last_order_num_by_prod_user.drop(['last_order_num_prod', 'last_order_num_user'], axis=1, inplace=True)

In [24]:
last_order_num_by_prod_user

                    last_order_num_prod_diff1  last_order_num_prod_diff2
user_id product_id
3       248                                10                       0.17
        1005                                2                       0.83
        1819                                5                       0.58
        7503                                9                       0.25
        8021                               10                       0.17
        9387                                5                       0.58
        12845                               8                       0.33
        14992                               5                       0.58
        15143                              11                       0.08
        16797                               3                       0.75
        16965                               7                       0.42
        17668                               1                       0.92
        18370                               7                       0.42
        18599                               0                       1.00
        21137                              10                       0.17
        21903                               0                       1.00
        22035                               4                       0.67
        23650                               0                       1.00
        24010                               5                       0.58
        24810                               0                       1.00
        28373                               7                       0.42
        32402                               2                       0.83
        38596                              10                       0.17
        39190                               0                       1.00
        39922                              11                       0.08
        40604                              10                       0.17
        42265                               7                       0.42
        42557                               4                       0.67
        43961                               1                       0.92
        44683                               6                       0.50
        47766                               0                       1.00
        48523                               3                       0.75
        49683                               9                       0.25
4       1200                                2                       0.60
        2707                                4                       0.20
        7160                                3                       0.40
        7350                                4                       0.20
        11865                               2                       0.60
        17769                               2                       0.60
        19057                               2                       0.60
        21573                               0                       1.00
        22199                               1                       0.80
        25146                               1                       0.80
        25623                               0                       1.00
        26576                               0                       1.00
        35469                               2                       0.60
        36606                               4                       0.20
        37646                               2                       0.60
        42329                               3                       0.40
        43704                               2                       0.60
6       8424                                0                       1.00
        10644                               1                       0.67
        11068                               1                       0.67
        20323                               1                       0.67
        21903                               1                       0.67
        25659                               0                       1.00
        27521                               2                       0.33
        38293                               1                       0.67
        40992                               1                       0.67
        45007                               1                       0.67
        48679                               2                       0.33
        49401                               0                       1.00
11      95                                  3                       0.57
        2002                                6                       0.14
        4799                                0                       1.00
        5605                                3                       0.57
        5989                                0                       1.00
        8197                                4                       0.43
        8230                                1                       0.86
        8309                                0                       1.00
        8670                                3                       0.57
        10644                               2                       0.71
        12384                               3                       0.57
        13176                               0                       1.00
        14947                               1                       0.86
        15261                               1                       0.86
        16869                               4                       0.43
        17706                               0                       1.00
        17794                               0                       1.00
        18465                               5                       0.29
        18987                               6                       0.14
        19543                               4                       0.43
        19769                               3                       0.57
        20383                               1                       0.86
        21040                               0                       1.00
        22950                               1                       0.86
        23400                               5                       0.29
        24799                               0                       1.00
        26209                               3                       0.57
        27451                               2                       0.71
        27959                               0                       1.00
        28465                               1                       0.86
        30480                               1                       0.86
        30563                               0                       1.00
        30855                               2                       0.71
        33021                               0                       1.00
        33037                               1                       0.86
        33572                               0                       1.00
        33731                               4                       0.43
        34551                               1                       0.86
...                                       ...                        ...
206208  26177                              42                       0.14
        26209                              16                       0.67
        26283                              41                       0.16
        27156                               4                       0.92
        27608                              38                       0.22
        27690                               8                       0.84
        27714                              45                       0.08
        27744                               2                       0.96
        27845                               2                       0.96
        27966                               9                       0.82
        28199                              18                       0.63
        28741                              22                       0.55
        28745                               5                       0.90
        28934                              39                       0.20
        28986                              28                       0.43
        29079                              14                       0.71
        29447                              32                       0.35
        29474                              44                       0.10
        30489                              25                       0.49
        30995                               8                       0.84
        31215                              23                       0.53
        31287                              22                       0.55
        31404                               0                       1.00
        31471                              30                       0.39
        31506                              20                       0.59
        31717                               2                       0.96
        31801                              44                       0.10
        33000                               0                       1.00
        33043                              13                       0.73
        34126                              12                       0.76
        34213                               0                       1.00
        34282                               1                       0.98
        34530                              39                       0.20
        34608                              12                       0.76
        34668                              40                       0.18
        35217                              47                       0.04
        35688                               0                       1.00
        35939                               1                       0.98
        36550                              13                       0.73
        36651                              33                       0.33
        36772                               9                       0.82
        36929                              10                       0.80
        37208                               3                       0.94
        37220                              21                       0.57
        37570                              17                       0.65
        38015                               5                       0.90
        38250                              41                       0.16
        38419                              21                       0.57
        39097                              36                       0.27
        39475                               8                       0.84
        39558                              22                       0.55
        39578                              35                       0.29
        39812                               5                       0.90
        39966                              22                       0.55
        40706                              25                       0.49
        41055                              30                       0.39
        41238                               2                       0.96
        41540                              27                       0.45
        41870                              26                       0.47
        42110                              22                       0.55
        42296                              25                       0.49
        42356                               9                       0.82
        42623                              23                       0.53
        42768                              20                       0.59
        42891                              28                       0.43
        43086                               1                       0.98
        43122                              46                       0.06
        43129                              32                       0.35
        43295                              26                       0.47
        43643                              37                       0.24
        43712                              13                       0.73
        43961                               0                       1.00
        43999                              11                       0.78
        44098                              30                       0.39
        44359                               7                       0.86
        44419                               0                       1.00
        44532                               6                       0.88
        44750                               6                       0.88
        44765                              39                       0.20
        44910                               0                       1.00
        45007                               0                       1.00
        45264                              22                       0.55
        45608                              13                       0.73
        46069                               3                       0.94
        46271                              13                       0.73
        46667                              12                       0.76
        46692                              41                       0.16
        46847                              36                       0.27
        46868                              42                       0.14
        47008                               6                       0.88
        47209                              33                       0.33
        47626                               1                       0.98
        47752                              46                       0.06
        47766                              48                       0.02
        48017                               6                       0.88
        48364                              46                       0.06
        48865                               7                       0.86
        49247                              43                       0.12
        49385                              22                       0.55
        49621                              18                       0.63

[4833292 rows x 2 columns]

In [25]:
merged = pd.concat((prod_pct_by_user, cart_order_by_user, 
                    isin_last_order, isin_sed_last_order, isin_thd_last_order, isin_fth_last_order, 
                    buy_hour_by_prod, buy_dow_by_prod,
                    diff_days_avg_since,
                    last_order_num_by_prod_user), axis=1)

In [26]:
merged = merged.join(products)

In [27]:
merged.head()

                    prod_pct_by_user  cart_order_by_user  isin_last_order  \
user_id product_id
3       248                    0.011               3.000                0
        1005                   0.011               5.000                0
        1819                   0.034               2.667                0
        7503                   0.011               6.000                0
        8021                   0.011               5.000                0

                    isin_sed_last_order  isin_thd_last_order  \
user_id product_id
3       248                           0                    0
        1005                          0                    1
        1819                          0                    0
        7503                          0                    0
        8021                          0                    0

                    isin_fth_last_order  buy_hour_by_prod  \
user_id product_id
3       248                           0                 3
        1005                          0                 3
        1819                          0                 3
        7503                          0                 3
        8021                          0                 3

                    pred_order_hour_of_day  buy_hour_equal_pred_hour  \
user_id product_id
3       248                              3                         1
        1005                             3                         1
        1819                             3                         1
        7503                             3                         1
        8021                             3                         1

                    buy_dow_by_prod  pred_order_dow  buy_dow_equal_pred_dow  \
user_id product_id
3       248                       3               5                       0
        1005                      3               5                       0
        1819                      0               5                       0
        7503                      3               5                       0
        8021                      3               5                       0

                    diff_days_avg_since  last_order_num_prod_diff1  \
user_id product_id
3       248                      106.82                         10
        1005                       8.82                          2
        1819                      55.00                          5
        7503                      85.82                          9
        8021                     106.82                         10

                    last_order_num_prod_diff2  aisle_id  department_id
user_id product_id
3       248                              0.17       117             19
        1005                             0.83        94              7
        1819                             0.58        88             13
        7503                             0.25       117             19
        8021                             0.17        54             17

In [28]:
merged.to_csv('./data/test_merged_with_index.csv')

In [29]:
merged.reset_index(drop=True, inplace=True)

In [30]:
merged.to_csv('./data/test_merged_without_index.csv', index=False)